body {
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}

h1 {
  color: #7db414;
  font-weight: bold;
}

a, a:hover, a:visited {
  color: #7db414;  
}